.text-white {
    color: #ffffff;
}

.bg-gray {
    background-color: rgb(247, 247, 247);
}

.text-light {
    color: rgb(50, 58, 177);
}

.text-pink {
    color: rgb(119, 34, 44);
}

.text-dark {
    color: rgb(110, 24, 41);
}

.bg-white {
    background-color: #ffffff;
}

.bg-pink{
    background-color: rgb(208, 40, 73)
}