body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 49, 49);
    background-color: rgb(254, 252, 253);
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-image {
    background-image: url("../img/intro.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.bg-shadow {
    background-color: rgba(30, 21, 68, 0.5);
}

button{
    border: 0;
    font-weight: 900;
    padding: 10px 20px;
    color: white;
}

button:hover{
    background-color: rgb(194, 26, 59)
}

button:active{
    background-color: rgb(241, 12, 58)
}

img:hover{
    background-color: rgba(51, 41, 194, 0.815);
}