.h1 {
    font-size: 60px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 28px;
}

.h4 {
    font-size: 24px;
}

.h5 {
    font-size: 20px;
}

.h6 {
    font-size: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

.p {
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.ls{
    letter-spacing: 2px;
}

.lh-1{
    line-height: 22px;
}

.lh-2{
    line-height: 24px;
}